on:
  push:
    branches:
      - master
      - "greenkeeper/*"
  pull_request:
    types: [opened, synchronize]
name: Test
jobs:
  # use no configuration. Will update existing pull request:
  # https://github.com/gr2m/create-or-update-pull-request-action/pull/2
  happyPath:
    name: "[TEST] Update existing pull request"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - run: "date > test.txt"
      - run: "npm ci"
      - run: "npm run build"
      - uses: ./
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ACTIONS_STEP_DEBUG: true

  createNewPullRequest:
    name: "[TEST] Create new pull request"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - run: "date > test.txt"
      - run: "npm ci"
      - run: "npm run build"
      - uses: ./
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ACTIONS_STEP_DEBUG: true
        with:
          title: Test pull request
          body: This pull request is part of the CI  - please ignore.
          branch: test-create-new-pull-request
          commit-message: "Just testing [skip ci]"
          author: "J. Doe <j@example.com>"
      - run: "git push https://x-access-token:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git :test-create-new-pull-request"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  multipleCommits:
    name: "[TEST] Create multiple commits"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - run: "date > file1.txt"
      - run: "date > file2.txt"
      - run: "npm ci"
      - run: "npm run build"
      - uses: ./
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ACTIONS_STEP_DEBUG: true
        with:
          title: Test pull request with multiple commits
          body: This pull request is part of the CI  - please ignore.
          branch: test-create-new-pull-request-with-multiple-commits
          author: "J. Doe <j@example.com>"
          path: file1.txt
          commit-message: "file 1 created [skip ci]"
      - uses: ./
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ACTIONS_STEP_DEBUG: true
        with:
          title: Test pull request
          body: This pull request is part of the CI  - please ignore.
          branch: test-create-new-pull-request-with-multiple-commits
          author: "J. Doe <j@example.com>"
          path: file2.txt
          commit-message: "file 2 created [skip ci]"
      - uses: ./
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ACTIONS_STEP_DEBUG: true
        with:
          title: Test pull request
          body: This pull request is part of the CI  - please ignore.
          branch: test-create-new-pull-request-with-multiple-commits
          author: "J. Doe <j@example.com>"
          path: does_not_exist.txt
          commit-message: "this should fail silently, not commit should be created"
      - run: "git push https://x-access-token:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git :test-create-new-pull-request-with-multiple-commits"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
